version: '3'

services:
  web:
    image: ghcr.io/xiangyumou/mp3-tools:latest
    container_name: mp3-tools-web
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
