version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mp3-tools-web
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
